/*Basic structure*/
.container {
    margin-left: 5%;
    margin-right: 5%;
}

.header {
    padding: 10px;
    height: 200%;
    background-color: navy;
    font-size: large;
    color: white;
}

.content {
}

.footer {
}

/*Navigation*/
.navigation-item {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

/*Table*/
.div-table {
    display: inline-block;
}

.div-row, .div-row-head {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    margin-bottom: 2px;
    overflow: hidden;
}

.div-row-head {
    background-color: azure;
}

.div-col, .div-col-btn, .div-col-num {
    width: 200px;
    padding: 2px;
    display: inline-block;
}

.div-col-btn {
    width: 100px;
}

.div-col-num {
    width: 50px;
}

/*Buttons*/
.btn-add, .btn-save {
    background-color: forestgreen;
}

.btn-add {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-save {
    float: left;
}

.btn-remove, .btn-cancel {
    background-color: orangered;
}

.btn-edit {
    background-color: darkturquoise;
}

.btn-cancel {
    float: right;
}

.btn-add, .btn-save, .btn-remove, .btn-edit, btn-cancel {
    min-width: 70px;
    padding: 5px;
    font-size: 14px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*PopUP*/
.visible-pop-up, .invisible-pop-up {
    position: absolute;
    margin: auto;
    background: #eeeeee;
    border: 1px solid black;
    padding: 5px;
    top: 50%;
    left: 50%;
}

.visible-pop-up {
    float: left;
    visibility: visible;
}

.invisible-pop-up {
    visibility: hidden;
}

/*Other*/
input, select {
    display: block;
}

.input-form {
    display: inline-block;
    background: #eeeeee;
    padding: 5px;
}