/*Basic structure*/
.container {
    margin: auto;
    width: 1000px;
}

.header {
    padding: 10px;
    background-color: navy;
    font-size: large;
    color: white;
}

.content {
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}

/*Navigation*/
.navigation-item {
    text-decoration: none;
    vertical-align: central;
    color: white;
    margin-left: 10px;
}

/*Table*/
.div-table {
    display: inline-block;
}

.div-row, .div-row-head {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    margin-bottom: 2px;
    overflow: hidden;
}

.div-row-head {
    background-color: azure;
}

.div-col, .div-col-btn, .div-col-num {
    width: 200px;
    padding: 2px;
    display: inline-block;
}

.div-col-btn {
    width: 100px;
}

.div-col-num {
    width: 50px;
}

/*Buttons*/
.btn-add, .btn-save, .btn-more {
    background-color: forestgreen;
}

.btn-add, .btn-more {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-save {
    float: left;
}

.btn-remove, .btn-cancel {
    background-color: orangered;
}

.btn-edit {
    background-color: darkturquoise;
}

.btn-cancel {
    float: right;
}

.btn-add, .btn-save, .btn-remove, .btn-edit, btn-cancel, .btn-more {
    min-width: 70px;
    padding: 5px;
    font-size: 14px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-more {
    right:0px;
}

/*PopUP*/
.pop-up-form {
    position: absolute;
    margin: auto;
    background: #eeeeee;
    border: 1px solid black;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.background-pop-up {
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left:0px;
    right:0px;
}

.background-pop-up-off {
    display: none;
}

/*Other*/
input, select {
    display: block;
}

.input-form {
    display: inline-block;
    background: #eeeeee;
    padding: 5px;
}

.error-mess {
    padding: 0;
    margin: 0;
    float: right;
    color: red;
}

/*Loading*/
.loader {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    float:left;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}